@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>

<p class="container-fluid text-justify">
    Taco Success is an Advanced Programming Topics Project that focuses on building a development team
    and delivering a functional Kiosk oriented application using Agile Project Management methodologies.
    The development team is comprised of a Database Team, Programming Team, and a Design Team that is lead
    by a Scrum Master with the primary focus of consulting with, and receiving a Product Backlog from the
    Product Owner, managing the expectations and timeline of the deliverable product, and managing the
    timeline and progress of the development team by using Sprints as a method for short-term deliverables.
</p>
