@{
    ViewBag.Title = "Beverages";
}
    <h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/fountaindrinks.png" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-glass">  FOUNTAIN DRINKS &raquo;</blockquote></p>
            </a>
        </div>
</div>