@{
    ViewBag.Title = "For Taco Success inquiries and comments:";
}
<h2>@ViewBag.Title</h2>
<img class="lerch img-responsive" src="~/Images/Lerch.jpg" />
<h3>@ViewBag.Message</h3>

<address>
    3200 Augusta Tech Dr.<br />
    Augusta, GA 30906<br />
    <abbr title="Phone">P:</abbr>
    706.771.4000
</address>

<address>
    <strong>Management:</strong>
    <a href="mailto:plerch@augustatech.edu">plerch@augustatech.edu</a><br />
</address>