@{
    ViewBag.Title = "Kid's Meals";
}
    <h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/kidsquesadilla.png" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  QUESADILLAS &raquo;</blockquote></p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/kidsregulartaco.png" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  KID'S TACOS &raquo;</blockquote></p>
            </a>
        </div>
    </div>
</div>