@{
    ViewBag.Title = "Main Menu";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Platos.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  PLATOS &raquo;</blockquote></p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Tacos.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  TACOS &raquo;</blockquote></p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Burritos.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  BURRITOS &raquo;</blockquote></p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Salads.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  SALADS &raquo;</blockquote></p>
            </a>
        </div>
    </div>
</div>