@{
    ViewBag.Title = "Hello valued Guest! What would you like to order today?";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/MainMenu">
                <img class="kiosk img-rounded img-responsive" src="~/Images/MainMenu2.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  MAIN MENU &raquo;</blockquote></p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/Sides">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Sides2.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  SIDES &raquo;</blockquote></p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/KidsMeals">
                <img class="kiosk img-rounded img-responsive" src="~/Images/KidsMeal.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  KID'S MEALS &raquo;</blockquote></p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/Beverages">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Beverages.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-glass">  BEVERAGES &raquo;</blockquote></p>
            </a>
        </div>
    </div>
</div>