@{
    ViewBag.Title = "Sides";
}
    <h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Freshly Fried Tortilla Chips.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  CHIPS &raquo;</blockquote></p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://localhost:44348/Home/About">
                <img class="kiosk img-rounded img-responsive" src="~/Images/Tacos.jpg" />
                <p><blockquote class="btn btn-primary btn-lg glyphicon glyphicon-cutlery">  TACOS &raquo;</blockquote></p>
            </a>
        </div>
    </div>
</div>